.wrapper {
  width: 120%;
  height: 200px;
  background-color: #ECE0A6;

  position: absolute;
  left: -10%;
  top: calc(50vh - 100px);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: skew(-15deg);
}

.wrapper > div {
  transform: skew(15deg);
  font-family: 'HPC';
  font-size: 40pt;
  color: #262E26;
  font-weight: bold;
  text-align: center;
}

.wrapper > div > button {
  border: 2px solid #262E26;
  background: none;
  padding: 5px 15px;
  font-size: 14px;
  font-family: 'HPC';
  cursor: pointer;
}

.messageEnter {
  transform: translateX(-120%);
  left: -120%;
  opacity: 0;
  transition: all 1s;
}

.messageEnterActive {
  transform: translateX(0%);
  opacity: 1;
  transition: all 1s;
}