/*
Colors:
  #262E26
  #90122E
  #ECE0A6
*/

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'HPC';
  src: url(./app/font.woff);
}

body {
  margin: 0;
  background-color: #262E26;
  color: #fff;
  line-height: 1;
  overflow: hidden;
}

.message-enter {
  transform: translateX(-120%);
  left: -120%;
  transition: all 1s;
}

.message-enter.message-enter-active {
  transform: translateX(0%);
  transition: all 1s;
}